@page
@model AuthorizationServer.Pages.ConsentModel
@{
}

Consent
Redirect url: @Model.ReturnURL

<form method="post">
    <input type="submit" name="grant" value="Grant";
    <input type="submit" name="grant" value="Deny";
</form>